.type-item {
  position: relative;
}

.type-num {
  position: absolute;
  top: 0;
  right: 0;
  color: #eee;
  background-color: rgba(0, 0, 0, .6);
  font-size: 28px;
  line-height: 1.5;
  min-width: 3em;
  text-align: center;
}

.about-icon {
  width: 100%;
  height: 365px;
  line-height: 365px;
  text-align: center;
  background-color: #666;
  color: #eee;
  font-size: 40px;
}

.contact-btn {
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  color: #eee;
  font-size: 54px;
  line-height: 112px;
  background-color: #000;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, .2), 0 12px 20px 0 rgba(0, 0, 0, .14), 0 2px 36px 0 rgba(0, 0, 0, .12);
}
