.bqb-item {
  width: 228px;
  float: left;
  text-align: center;
  margin-right: 16px;
}

.bqb-text {
  height: 100%;
  color: #aeaeae;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 32%;
  box-sizing: border-box;
}

.bqb-image-wrap {
  margin: 8px 0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.1);
}

.bqb-num {
  position: absolute;
  top: 0;
  right: 0;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, .6);
  font-size: 28px;
  line-height: 1.5;
  min-width: 3em;
  text-align: center;
  border-top-right-radius: 10px;
  z-index: 1;
}

.bqb-image {
  display: flex;
  width: 100%;
  height: 228px;
  opacity: 1;
  border-radius: 10px;
  transition: opacity .5s;
  &.hide {
    opacity: 0;
  }
}

.bqb-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('../../assets/loading.svg');
  background-position: center;
}

.bqb-name {
  width: 100%;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 48px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
