.list {
  margin-right: -20px;
}

.item {
  float: left;
  width: 365px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
