.list {
  margin-right: -20px;
}

.item {
  float: left;
  width: 365px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flat-btn {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  color: #eee;
  font-size: 54px;
  line-height: 112px;
  background-color: #000;
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, .2), 0 12px 20px 0 rgba(0, 0, 0, .14), 0 2px 36px 0 rgba(0, 0, 0, .12);
}
