@import "./styles/icon.less";

page {
  --color-bg: #fff;
  --color-bg-secondary: #f5f5f5;
  --color-text: #333;
  --color-text-secondary: #666;
}

@media (prefers-color-scheme: dark) {
  page {
    --color-bg: #1b1b1b;
    --color-bg-secondary: #202020;
    --color-text: #ccc;
    --color-text-secondary: #999;
  }
}

.list {
  overflow: auto;
  padding-bottom: 32px;
  margin: 8px 0 8px 16px;
}
